%table.listing_table
  %thead
    %tr
      %th.fixed= sort_link_to(:date, 'Date')
      %th.icon
      %th.icon
      %th= sort_link_to(:title, 'Item')
      %th= sort_link_to(:price, 'Price')
      %th= city ? sort_link_to(:distance, 'Distance') : 'Location'
      %th= sort_link_to(:rating, 'User Rating')
      %th.icon= image_tag('favorite_header.png', :alt => 'favorite')
  %tbody
    - results.each do |listing|
      - listing = listing.presenter
      %tr
        %td.fixed
          = listing.date
        %td.icon
          - if listing.new?
            = image_tag('new.png', :alt => 'new')
        %td.icon
          - if listing.photos_count > 0
            = link_to('expand', '#', :class => 'photo_link', :rel => listing.photos[0].file.url(:thumb))    
        %td.title
          = link_to listing.title, listing
        %td.price= listing.price                  
        %td
          = listing.location
          - if city
            = display_distance(listing.city.distance_from(city))
        %td= image_tag('rating.png') + " #{listing.user.rating} (#{listing.user.ratings_count})"
        %td.icon 
          - if @favorites.key?(listing.id)
            = link_to('Remove from favorites', listing_favorite_path(listing, favorites[listing.id]), :method => :delete, :class => 'fav on')
          - else 
            /= link_to(image_tag('favorite.png', :alt => 'Remove from favorites'), listing_favorite_path(listing, favorites[listing.id]), :method => :delete)
            /= link_to(image_tag('not_favorite.png', :alt => 'Add to Favorites'), listing_favorites_path(listing), :method => :post)
            = link_to('Add to favorites', listing_favorites_path(listing), :method => :post, :class => 'fav')
