%h1 Post an item

- content_for(:head) do
  = javascript_include_tag 'swfupload/swfupload', 'swfupload/swfupload.swfobject', 'swfupload/handlers'
  - session_key_name = ActionController::Base.session_options[:key]
  :javascript
    var swf_upload;
    SWFUpload.onload = function() {
      var swf_settings = {
 
        // SWFObject settings
        minimum_flash_version: "9.0.28",
        swfupload_pre_load_handler: function() {
          $('#swfupload_degraded_container').hide();
          $('#swfupload_container').show();
        },
        swfupload_load_failed_handler: function() {
        },
 
        post_params: {
          "#{session_key_name}": "#{cookies[session_key_name]}",
          "authenticity_token": "#{form_authenticity_token}",
        },
 
        upload_url: "#{listings_path}",
        flash_url: '/flash/swfupload/swfupload.swf',
 
        file_types: "*.jpg;*.gif;*.png;*.bmp",
        file_types_description: "Image Files",
        file_size_limit: "5 MB",
 
        button_placeholder_id: "spanButtonPlaceholder",
        button_width: 380,
        button_height: 32,
        button_text : '<span class="button">Add</span>',
        button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #2098E5}',
        button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
        button_cursor: SWFUpload.CURSOR.HAND,
        button_action: SWFUpload.BUTTON_ACTION.SELECT_FILES,
        file_queue_error_handler : fileQueueError,
        file_queued_handler : fileQueuedHandler, 
        file_dialog_complete_handler : fileDialogComplete,
        upload_progress_handler : uploadProgress,
        upload_error_handler : uploadError,
        upload_success_handler : uploadSuccess,
        upload_complete_handler : uploadComplete,
 
        custom_settings : {
          upload_target: "divFileProgressContainer"
        }
      }
      //swf_upload = new SWFUpload(swf_settings);
    };
    
#register_intro Complete all fields and click the <strong>Submit</strong> button to post your listing.
- form_for(@listing, :html => {:multipart => true, :class => 'swf_upload'}) do |form|
  = render form
