.text_field
  = form.label :email
  = form.text_field :email
.password_field
  = form.label :password
  = form.password_field :password
.password_field
  = form.label :password_confirmation, 'Confirm password'
  = form.password_field :password_confirmation


.text_field
  = form.label :username
  = form.text_field :username
.text_field
  = form.label :zip_code
  = form.text_field :zip_code
  
- if ENV['INVITE']
  FOO
