.text_field
  = form.label :email, t(:email_address)
  = form.text_field :email
.text_field
  = form.label :username, t(:username)
  = form.text_field :username
.password_field
  = form.label :password, t(:password)
  = form.password_field :password
.text_field
  = form.label :zip_code, t(:zip_code)
  = form.text_field :zip_code
.text_field
  = form.label :invitation_code, t(:invitation_code)
  = form.text_field :invitation_code
