.home_content
  .logo Splunkr.
  .tagline= t(:tagline)
  - form_tag(search_path, :id => 'search', :method => :get) do
    = text_field_tag :q, {}, :title => t(:example_search)
    = text_field_tag :zip_code, nil, :title => 'zip code'
    = image_submit_tag 'search_button.png', :alt => t(:search), :id => 'search_button'
    #browse_categories
      = link_to t(:browse).capitalize, '#', :class => 'right_arrow', :id => 'browse'
      #categories
        %ul
          %li= link_to 'one', '#'
          %li= link_to 'two', '#'
          %li= link_to 'three', '#'
    #search_details
      = check_box_tag :title_only
      Search title only
      = check_box_tag :include_complete
      Include Completed
      = check_box_tag :has_image
      Has image
      = text_field_tag :min, nil, :title => 'Min'
      = text_field_tag :min, nil, :title => 'Max'
      Search Radius
      .slider
