.search_filters
  - if params[:grid_view]
    .grid_view_details
      .image_size
        Image size: 
        .image_sizes
          = link_to(image_tag((params[:large] ? 'grid_view_down.png' : 'grid_view_up.png')), params.merge(:large => nil), :class => 'grid_view_icon')
          = link_to(image_tag((params[:large] ? 'list_view_up.png' : 'list_view_down.png')), params.merge(:large => 1), :class => 'list_view_icon')
      .sort
        Sort by:
        = link_to 'Date', params.merge(:sort => 'date_desc')
  .search_views
    = search_view_links
  - form_tag(search_path, :id => 'search_filter', :method => :get) do
    - params.select{ |key, value| ['q'].include?(key) }.each do |key, value|
      %input(type='hidden' name='#{key}' value='#{h(value)}')
      %input(type='hidden' name='zip_code' value="#{h(params[:zip_code])}")
    .other_filters
      %label
        = check_box_tag :title_only, 1, params[:title_only]
        %span Only in titles 
      %label  
        = check_box_tag :has_image, 1, params[:has_image]
        %span Has photo  
      %label  
        = check_box_tag :only_new, 1, params[:only_new]
        %span Only new
      = text_field_tag :min, params[:min], :title => 'min', :class => 'input_price'
      = text_field_tag :max, params[:max], :title => 'max', :class => 'input_price'      
    #search_radius
      %span Distance 
      = text_field_tag :radius, nil, :id => 'slider_amount', :readonly => 'readonly'
      #slider
    %button.btn_sm Set
