- content_for(:head) do
  - if params[:radius]
    :javascript
      $(function() {
        $('#slider').slider('option', 'value', #{value_for_radius(params[:radius])});
        $("#slider_amount").val(slider_values[$("#slider").slider("value")]);
      })
.search_details
  /= "#{pluralize(@results.total_entries, 'result')} for \"#{h(params[:q])}\""
  
= render "searches/filters"
= render :partial => (params[:grid_view] ? 'listings/grid' : 'listings/results'), :locals => {:city => @city, :results => @results, :favorites => @favorites}
- content_for(:footer) do
  = custom_paginate @results