.search_details
  .search_views= image_tag('grid_view_up.png') + image_tag('list_view_down.png')
  #{pluralize(@results.total_entries, 'result')} matching "#{h(params[:q])}" #{link_to 'Filters', '#', :id => 'search_filters'}
.search_filters
  %input(type='text' value='min price')
  %input(type='text' value='max price')
  = image_submit_tag 'set_button.png', :alt => 'set', :class => 'image_button'
  %input(type='checkbox')
  Search title only
  %input(type='checkbox')
  Include Completed
  %input(type='checkbox')
  Has Image
  %input(type='checkbox')
  Only New
  #search_radius
    Search Radius: 
    = text_field_tag :radius, nil, :id => 'slider_amount', :readonly => 'readonly'
    #slider
%table.listing_table
  %thead
    %tr
      %th= sort_link_to(:date, 'Date')
      %th= sort_link_to(:title, 'Item')
      %th= sort_link_to(:price, 'Price')
      %th Distance &bull;
      %th= sort_link_to(:rating, 'User Rating')
      %th= image_tag('favorite_header.png', :alt => 'favorite') + ' &bull;'
  %tbody
    - @results.each do |listing|
      - listing = listing.presenter
      %tr
        %td= listing.date
        %td= link_to listing.title, listing
        %td= listing.price
        %td= listing.location
        %td= image_tag('rating.png') + " #{listing.user.rating} (#{listing.user.ratings_count})"
        %td 
          - if @favorites.key?(listing.id)
            = link_to(image_tag('favorite.png', :alt => 'Remove from favorites'), listing_favorite_path(listing, @favorites[listing.id]), :method => :delete)
          - else 
            = link_to(image_tag('not_favorite.png', :alt => 'Add to Favorites'), listing_favorites_path(listing), :method => :post)
