.dashboard_links
  = link_to t(:selling) + "<span>#{current_user.listings.count}</span>", {:filter => 'selling'}, {:class => 'tab_heading first_tab_heading' + (@current_filter == 'selling' ? ' active_tab_heading' : '')}
  = link_to t(:buying)+ "<span>#{current_user.buying_count}</span>", {:filter => 'buying'}, {:class => 'tab_heading' + (@current_filter == 'buying' ? ' active_tab_heading' : '')}
  = link_to t(:feedback)+ "<span>0</span>", {:filter => 'feedback'}, {:class => 'tab_heading' + (@current_filter == 'feedback' ? ' active_tab_heading' : '')}
  = link_to t(:preferences), {:filter => 'preferences'}, {:class => 'tab_heading' + (@current_filter == 'preferences' ? ' active_tab_heading' : '')}

- if @listings
  %table.dashboard_table
    %thead
      %tr
        %th Date &bull;
        %th Item &bull;
        %th Price &bull;
        - if @current_filter == 'selling'
          %th= image_tag('offer_header.png', :alt => 'offers') + ' &bull;'
          %th= image_tag('question_header.png', :alt => 'questions') + '  &bull;'
          %th.hidden <span>Edit</span>
          %th.hidden <span>Delete</span>
        - elsif @current_filter == 'buying'
          %th Location
          %th User Rating
    - @listings.each do |listing|
      %tr{:class => listing.sold? ? 'sold' : nil}
        %td= listing.created_at.to_s(:month_day).upcase
        %td
          = link_to listing.title, listing
          %h4 OFFERS
          - unless listing.offers.empty?
            %table.inner
              - if @current_filter == 'selling'
                - listing.offers.each do |offer|
                  %tr
                    %td= offer.created_at.to_datetime.strftime("%B %d %I:%M%P")
                    %td
                      %strong= "#{offer.user.username} #{offer.user.rating}%"
                      (#{offer.user.ratings_count})
                      offered you
                      %span.price= '$'+offer.amount.to_s
                      = link_to 'reply', '#'
                      .reply
                        %ul
                          %li= link_to 'accept', listing_offer_path(listing, offer, :status => 'accepted'), :method => :put
                          %li= link_to 'decline', listing_offer_path(listing, offer, :status => 'declined'), :method => :put
                          %li= link_to 'counter', '#'
                        
              - else
                - (@notifications[listing.id] || {}).sort_by(&:created_at).reverse.each do |notification|
                  %tr
                    %td= notification.created_at.to_datetime.strftime("%B %d %I:%M%P")
                    %td
                      = notification_display(notification)
                - @listing_offers[listing.id].sort_by(&:created_at).reverse.each do |offer|
                  %tr
                    %td= offer.created_at.to_datetime.strftime("%B %d %I:%M%P")
                    %td
                      %strong= "#{offer.user.username} #{offer.user.rating}%"
                      (#{offer.user.ratings_count})
                      offered you
                      %span.price= '$'+offer.amount.to_s
          %h4 QUESTIONS
          - unless listing.questions.empty?
            %table.inner
              - listing.questions.each do |question|
                - if question.reply              
                  %tr.answered
                    %td= question.reply.created_at.to_datetime.strftime("%B %d %I:%M%P")
                    %td
                      %div[question.reply]
                        You replied: #{question.reply.message}
                %tr{:class => question.reply ? 'answered' : nil}
                  %td= question.created_at.to_datetime.strftime("%B %d %I:%M%P")
                  %td
                    %div[question]
                      %strong= question.user.username
                      asked:
                      = question.message
                      - unless question.reply
                        = link_to 'reply', '#'
                        .reply
                          - form_for(Reply.new) do |form|
                            = form.text_area :message
                            = form.hidden_field :source_type, :value => 'Question'
                            = form.hidden_field :source_id, :value => question.id
                            = form.submit 'Save'
                          
                

        %td= listing.price
        %td= image_tag('offer.png', :alt => 'Offers') + listing.offers_count.to_s
        %td= image_tag('question.png', :alt => 'Questions') + listing.questions_count.to_s
        - if @current_filter == 'selling'
          %td= link_to 'Edit', edit_listing_path(listing)
          %td= link_to 'Delete', listing, :method => :delete, :confirm => "Are you sure you want to delete this listing?"
- if @listings
  -content_for(:footer) do
    = custom_paginate @listings
- else
  = render params[:filter]
