!!! Strict
%html
  %head
    %title Splunkr
    = javascript_include_tag 'jquery', 'jquery.hint.js', 'application'
    = stylesheet_link_tag 'screen'
    = yield :head
  %body{:class => controller.controller_name}
    .container
      .header
        = render 'users/bar'
      .content
        = render 'shared/messages'
        = yield
    .footer
      .links
        = link_to t(:about).capitalize, about_path
        = link_to t(:rules).capitalize, rules_path
        = link_to t(:support).capitalize, support_path
        = link_to t(:feedback).capitalize, feedback_path
        = link_to t(:contact).capitalize, contact_path
      Copyright 2009. Splunkr, Inc.
